<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Welcome to the LatePlate-O-Tron 3000</h1>
            <ul class="list-unstyled">
                <li>Making lateplates easy.</li>
            </ul>


            <%= simple_form_for @plate do |f| %>
              <%= f.input :name, label: 'Select a name', collection: @full_names, error: 'A name is required' %>
              <%= f.input :meal, label: 'Select a meal', collection: ["Breakfast", "Dinner"], error: 'A meal is required' %>
              <%= f.input :request_day %>
              <%= f.button :submit %>
            <% end %>


            </br>


            </br>
            </br>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Meal</th>
                  <th>Day</th>
                </tr>
              </thead>
              <tbody>
              <% @plates.each do |plate| %>
                <tr>
                  <td><%= plate.name %></td>
                  <td><%= plate.meal %></td>
                  <td><%= plate.request_day %></td>
                  <td><%= button_to "Delete", { action: "delete_entry", id: @plate.id },
                                method: :delete_entry, data: { confirm: "Are you sure?" } %></td>
                </tr>
              <% end %>
              </tbody>
            </table>


        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
