<% content_for :title do %>Home<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Welcome to the LatePlate-O-Tron 3000</h1>

      <div class='row'>

        <% if !logged_in? %>
          <div class = 'row'>
            <div class='col-md-2 col-md-offset-5'>
              <p>
                <%= button_to 'Log in', login_path, :method => :get, :class => 'btn btn-primary'  %><br />
                <%= button_to 'Sign Up', signup_path, :method => :get, :class => 'btn btn-primary'  %><br />
              </p>
            </div>
          </div>
        <% else %>
          <div class = 'row'>
            <div class='col-md-2 col-md-offset-5'>
              <p>
                <%= button_to 'Manage LatePlates', manage_plates_path, :method => :get, :class => 'btn btn-primary'  %><br />
                <%= button_to 'View Profile', current_user, :method => :get, :class => 'btn btn-primary'  %><br />
                <%= button_to 'Settings', edit_user_path(current_user), :method => :get, :class => 'btn btn-primary'  %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
